
* {
border: none;
border-radius: 0;
font-family: "JetBrainsMono Nerd Font";
font-weight: bold;
font-size: 14px;
min-height: 16px;
color: white;
}


window#waybar {
    background: rgba(35, 55, 48, 0.0);
    opacity: 1.0;
    color: #cae5f5;

}

#tooltip {
background: #232d3a;
border-radius: 10px 10px 10px 10px;
opacity: 1.0;
}

#custom-nothing {
opacity: 0.0;
padding: 0px 15px;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
border-radius: 0px 0px 0px 0px;
}

#tray {
background: #232d3a;
padding: 0px 5px;
margin-top: 8px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
border-radius: 0px 0px 0px 0px;
}

#battery {
background: #232d3a;
padding: 0px 10px;
opacity: 1.0;
margin-top: 8px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
border-radius: 0px 0px 0px 0px;
}

#pulseaudio {
background: #232d3a;
padding: 0px 10px;
margin-top: 8px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
border-radius: 0px 0px 0px 0px;
}

#backlight {
background: #232d3a;
padding: 0px 10px;
margin-top: 8px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
border-radius: 0px 0px 0px 0px;
}

#custom-updates {
background: #232d3a;
padding: 0px 10px;
margin-top: 8px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
border-radius: 10px 10px 10px 10px;
}

#network {
background: #232d3a;
padding: 0px 10px;
margin-top: 8px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
border-radius: 10px 0px 0px 10px;
}

#memory {
background: #232d3a;
padding: 0px 10px;
margin-top: 8px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
border-radius: 0px 10px 10px 0px;
}

#cpu {
background: #232d3a;
padding: 0px 10px;
margin-top: 8px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
border-radius: 0px 0px 0px 0px;
}

#custom-launcher {
background: #232d3a;
color: #1793d1;
padding: 0px 10px;
margin-top: 8px;
margin-bottom: 0px;
margin-left: 20px;
margin-right: 0px;
border-radius: 10px 0px 0px 10px;
}

#clock{
background: #232d3a;
padding: 0px 10px;
margin-top: 8px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
border-radius: 10px 10px 10px 10px;
}

#custom-divider {
color: #8f8f8f;
background: #232d3a;
padding: 0px 10px;
margin-top: 8px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
border-radius: 0px 0px 0px 0px;
}

#custom-notification {
background: #232d3a;
padding: 0px 5px;
margin-top: 8px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 20px;
border-radius: 0px 10px 10px 0px;
}
